.clients {

  .review {
    background-color: #53354a;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-text {
      color: white;
      font: 36px/42px Cardo;
      font-style: italic;

      max-width: calc(100% - 60px);
      width: 500px;
      margin-bottom: 30px;

      &::before {
        content: "“";
        color: white;
        font: 36px/42px Cardo;
        font-style: italic;
      }

      &::after {
        content: '”';
        color: white;
        font: 36px/42px Cardo;
        font-style: italic;
      }

    }

    &-author {
      color: white;
      font: 700 13px $font;
      text-transform: uppercase;
    }
  }

  .carousel-indicators {
    max-width: 100%;
  }
  .carousel-indicators li {
    background-color: #755d6e;
    &.active {
      background-color: white;
    }
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }

  @media (min-width: $lg) {
    .carousel-indicators {
      margin: 0;
      left: 50%;
      bottom: 100px;
    }
  }
}

@media (max-width: $lg) {
  .clients .row {
    flex-direction: column!important;
    img {
      max-width: 100%!important;
    }

    .review {
      max-width: 100% !important;
    }
  }
}