.team {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 100px 0;

  &-wrapper {
    max-width: 100% !important;
  }

  .container {
    @media (min-width: $lg) {
      max-width: 1170px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-list {
    margin-bottom: 0;
    width: 100% !important;
  }

  img {
    max-width: 100%;
  }

  &-mate {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $lg) {
      margin-bottom: 30px;
    }

    &-name {
      font: 400 22px $font;
      color: $black;
      margin: 30px 0 15px;
    }

    &-position {
      color: $orange;
      font: 400 13px $font;
      text-transform: uppercase;
    }

    &-data {
      color: $grey;
      font: 400 14px/21px $font;
      width: 265px;
      max-width: 100%;
      margin: 30px 0;
    }
  }
}

.sns {
  display: flex;
  align-items: center;

  &-item {
    border: 1px solid #e8ecee;
    padding: 12px 15px;
    &:first-of-type {
      padding: 12px 18px;
    }
    margin-right: 5px;
    transition: .5s;
    &:hover {
      background-color: red;
    }
  }

  i {
    color: #c6cacc;;
  }
}